<div class="cmp-dice-roller__container">
  <form class="cmp-dice-roller__form">
    <div class="cmp-dice-roller__set-dice-spec">
      <label for="dice-spec">Dice (e.g. "1d20" or "2d6+2")</label>
      <input id="dice-spec" type="text" name="dice-spec" aria-required="true">
    </div>
    <button type="submit" class="cmp-dice-roller__roll-button">Roll</button>
  </form>
  <div class="cmp-dice-roller__result"></div>
</div>
