<div class="cmp-initiative__container">
  <form class="cmp-initiative__form">
    <div class="cmp-initiative__set-initiative">
      <label for="initiative">Initiative</label>
      <input id="initiative" type="text" name="initiative" inputmode="numeric" aria-required="true">
    </div>
    <div class="cmp-initiative__set-name">
      <label for="character-name">Name</label>
      <input id="character-name" type="text" name="character-name" aria-required="true">
    </div>
    <button type="submit" class="cmp-initiative__add">Add to Initiative</button>
  </form>
  <ol class="cmp-initiative__list" reversed tabindex="-1"></ol>
</div>
