---
title: Roll Initiative
description: A set of tools for GMs to manage their role-playing game stats and statuses.
---

{% extends "layout.njk" %}

{% block content %}
<div class="obj-app-layout__container">
  <div class="obj-app-layout">
    <div class="obj-app-layout__heading">
      <h1>Roll Initiative</h1>
    </div>

    <div class="obj-app-layout__initiative">
      {% include "partials/initiative.njk" %}
    </div>
    <div class="obj-app-layout__dice-roller">
      {% include "partials/dice-roller.njk" %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/main.js" type="module"></script>
{% endblock %}
